[user]
  email = gagne.mathieu@hotmail.com
  name = Mathieu Gagné

[alias]
  pr = !hub pull-request --base develop --assign mathieugagne --push --draft
  start = !pgcb $1
  current-branch = !git rev-parse --abbrev-ref HEAD
[pager]
  branch = false
