URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false

! ------------------------------------------------------------------------------
! URxvt colors
! https://github.com/addy-dclxvi/almighty-dotfiles/blob/master/.xrdb/color/monokai
! ------------------------------------------------------------------------------

! special
*.foreground:   #f8f8f2
*.background:   #272822
*.cursorColor:  #f8f8f2

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

URxvt.geometry:           72x18
URxvt*letterSpace:        0
URxvt.lineSpace:          0
URxvt*internalBorder:     24
URxvt*externalBorder:     0
URxvt*depth:              32
URxvt*saveline:           2000
URxvt*termName:           rxvt-256color
URxvt*iso14755:           false
URxvt*scrollBar:          false
URxvt*scrollBar_right:    false
URxvt.perl-ext-common:    default,clipboard,url-select,keyboard-select
URxvt.copyCommand:        xclip -i -selection clipboard
URxvt.pasteCommand:       xclip -o -selection clipboard
URxvt.keysym.M-c:         perl:clipboard:copy
URxvt.keysym.M-v:         perl:clipboard:paste
URxvt.keysym.M-C-v:       perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:    perl:keyboard-select:activate
URxvt.keysym.Shift-Up:    command:\033]720;1\007
URxvt.keysym.Shift-Down:  command:\033]721;1\007
URxvt.keysym.M-s:         perl:keyboard-select:search
URxvt.keysym.M-u:         perl:url-select:select_next
URxvt.urlLauncher:        xdg-open
URxvt.underlineURLs:      true
URxvt.urlButton:          1
URxvt*buffered:           false
URxvt.urgentOnBell:       True

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
