[user]
  email = gagne.mathieu@hotmail.com
  name = Mathieu Gagné
	username = mathieugagne

[alias]
  pr = !pgpr
  start = !pgcb $1
  continue = !pcontinue $1
  purge = !ppurge
  current-branch = !git rev-parse --abbrev-ref HEAD
[pager]
  branch = false
