[user]
  email = gagne.mathieu@hotmail.com
  name = Mathieu Gagné
	username = mathieugagne

[alias]
  purge = !ppurge
  current-branch = !git rev-parse --abbrev-ref HEAD
[pager]
  branch = false
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
